@font-face {
    font-family: "Inter Bold";
    src: url("../Fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Semi";
    src: url("../Fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../Fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family:"Kaisei" ;
    src: url("../Fonts/KaiseiHarunoUmi-Bold.woff2") format("woff2");
}


.logo {
    max-width: 200px;
    margin: 0 auto;
}

header {
    background-color: white;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #FF1A98;
}

nav li {
    font-family: 'Inter Bold', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 1.5rem;
    margin: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav li:hover {
    font-size: 1.4rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

#menu-checkbox {
    display: none;
}

label {
    display: block;
    width: 40px;
    height: 30px;
    background-color: #FF1A98;
    position: absolute;
    top: 40px;
    left: 20px;
    cursor: pointer;
}

label span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.3s;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    list-style: none;
    z-index: 2;
    font-family: 'Inter Bold';
    background-color: #fff;
    border-style: solid;
    padding-right: 2rem;
}

.menu li {
    display: block;
    padding: 10px ;
    padding-left: 0;
}

input:checked + label + .menu {
    display: block;
}

body {
    margin: 0;
}

.home {
    text-decoration: underline;
    text-decoration-color: #FF1A98;
    text-decoration-thickness: 0.2rem;
}

.banner {
    background-image: url(../images/scientific-2040795_1280-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    padding-top: 2rem;
    position: relative;
    margin-bottom: 4rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}


.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -6rem;
}

.banner h1,
.banner h2  {
    color: #fff;
    font-family:'Kaisei', Arial, Helvetica, sans-serif ;
    margin: 0;
}

.banner h1 {
    font-size: 5rem;
}

.banner h2 {
    font-size: 2.5rem;
}

h1 {
    font-family: 'Inter Bold', Arial, Helvetica, sans-serif;
    color: #FF1A98;
    display: flex;
    justify-content: center;
}


p {
    font-family: 'Inter Regular', Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
    line-height: 1.6;
    font-size: 21px;
}



.why-visit h1,
.about-us h1,
.special-events h1 {
    margin-top: 0; 
    font-size: 2rem;
}

.about-us h1 {
    padding-top: 2rem;
}

.why-visit-content,
.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.visit-img img,
.about-img img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    margin-top: 3rem;
    filter: brightness(90%);
}

.visit-copy,
.about-copy  {
    padding: 2rem;
}

.about-us {
    padding-bottom: 4rem;
}






.clubs {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.club-copy {
    position: relative;
    z-index: 2;
    color: #fff; 
    padding: 2rem;
    box-sizing: border-box; 
    margin-top: 3rem;
}

.clubs h1 {
    color: #fff;
    font-size: 40px;
    font-family: 'Kaisei', Arial, Helvetica, sans-serif;
}

.clubs p {
    text-align: center;
    font-size: 19px;
}


.young-stars-club {
    position: relative;
    overflow: hidden;
    background-image: url(../images/billetto-editorial-334686.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}


.special-holiday-clubs {
    position: relative;
    overflow: hidden;
    background-image: url(../images/reading-2762010_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10% ;
}

.overlay-club {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.body-title {
    font-family: 'Inter Bold', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.special-events {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 2rem;
    padding: 2rem;
}

.visiting-professor,
.Night-in-museum,
.energetica-exhibition {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
}

.events-copy {
    padding: 2rem;
}

.body-title {
    font-family: 'Inter Bold', Arial, Helvetica, sans-serif;

    font-size: 21px;
}

.event-img img {
    width: 100%; 
    height: auto; 
    max-height: 300px;
    object-fit: cover;
    margin-top: 3rem;
}

.Night-in-museum img {
    object-position: center 70%;
}

.energetica-exhibition img {
    object-position: center 40%;
    margin-bottom: 2rem;
}

.about-us,
.special-events {
    background-color: #DEEDFE;
}

.body-title {
    font-weight: 600;
}



.last-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    margin-top: 5rem;
}


.hours {
    text-align: left;
    max-width: 300px;
    margin-right: 6rem;
}

.hours,
.location {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.join,
.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.join {
    background-color:#DEEDFE;
    padding-left: 2rem;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    margin-left: 2rem;
}


.location i {
    font-size: 1.5em;
}




footer {
    background-color: #FF91CD;
    padding-top: 3rem;
    text-align: center;
    margin-top: 10rem;
}

footer a {
    color: black;
    text-decoration: none;
}

.logo-footer {
    max-width: 200px;
    margin-top: 2rem;
}

.copyright {
    margin-top: 3rem;
    padding-bottom: 1rem;
    font-family: 'Inter Regular', Arial, Helvetica, sans-serif;
}

   










@media screen and (max-width: 1100px) {



    header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000; 
      }

    .logo {
        max-width: 150px;
        margin-top: 1rem;
    }

    label {
        display: block;
        width: 45px;
        height: 35px;
        top: 50px;
        left: 20px;
    }
    
    label span {
        display: block;
        width: 100%;
        height: 5px;
        margin: 7px 0;
        transition: 0.3s;
    }

    #menu-checkbox:checked + label span:nth-child(1) {
        transform: rotate(45deg) translate(-5px, 6px);
    }

    #menu-checkbox:checked + label span:nth-child(2) {
        opacity: 0;
    }

    #menu-checkbox:checked + label span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    nav ul {
        display: none;
    }

    .menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }


    .banner {
        min-height: 400px;
    }

    .banner h1 {
        font-size: 64px;
    }

    .banner h4 {
        font-size: 32px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 19px;
    }

    .body-title {
        font-size: 19px;
    }


    .why-visit-content,
    .about-content {
        display: block;
    }

   .why-visit h1 {
    font-size: 1.8rem;
   }
 
    .visit-copy-left {
        margin-right: 5rem;
    }

    .visit-img {
        display: flex;
        gap: 6rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    .visit-img img {
        max-height: 400px; 
    }


    .about-us h1 {
        font-size: 1.8rem;
    }

    .about-copy-left,
    .about-copy-right {
        width: 100%;
    }

    .about-copy-left {
        margin-right: 5rem;
    }

    .about-img img {
        max-height: 300px;
        height: auto;
        margin-top: 4rem;
    }




    .clubs {
        display: block;

    }
 
    .young-stars-club {
        max-width:100% ;
        height: 600px;
    }

    .special-holiday-clubs {
        margin-top: 2rem;
        max-width: 100%;
        height: 600px;
        background-position: center 18%;
    }

    .club-copy {
        margin-top: 8rem;
    }

    .clubs h1 {
        font-size: 2.5rem;
    }

    .clubs p {
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
    }

    .visiting-professor,
    .Night-in-museum,
    .energetica-exhibition {
        display: block;
    }

    .special-events h1 {
        font-size: 1.8rem;
    }

    .event-img img {
        max-height: 300px;
        margin-top: -1rem;
    }


    .last-section p {
        font-size: 18px;
    }
    
    .join {
        max-width: 300px;
    }


    footer {
        text-align: center;
        margin-top: 10rem;
    }
    
    footer nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; 
        font-size: 0.9rem;
    }

    .logo-footer {
        max-width: 150px;
    }

    .copyright {
        margin-top: 5rem;
    }
    
}


@media screen and (max-width: 750px) {

    header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000; 
      }

    .logo {
        max-width: 100px;
    }

    label {
        display: block;
        width: 30px;
        height: 30px;
        top: 35px;
        left: 20px;
        
    }
    
    label span {
        display: block;
        width: 100%;
        margin: 5px 0;
        transition: 0.3s;
    }

    #menu-checkbox:checked + label span:nth-child(1) {
        transform: rotate(45deg) translate(-5px, 6px);
    }

    #menu-checkbox:checked + label span:nth-child(2) {
        opacity: 0;
    }

    #menu-checkbox:checked + label span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    nav ul {
        display: none;
    }

    .menu {
        display: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .burger-menu {
        display: block;
    }

    body p {
        font-size: 16px;
    }

    .banner {
        min-height: 300px;
    }

    .banner h1 {
        font-size: 36px;
        margin-top: 4rem;
    }

    .banner h4 {
        font-size: 1.5rem;
    }

    .why-visit h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 16px;
    }

    .body-title {
        font-size: 1rem;
    }
    
    .why-visit h1 {
        margin-bottom: -1rem;
        font-size: 1.5rem;
    }

    .why-visit-content,
    .about-content {
        display: block;
    }

    .visit-img {
        display: block;
    }
    
    .visit-img img {
        max-height: 300px;
        margin-top: -1rem;

    }


    .about-us h1 {
        margin-bottom: -1rem;
        font-size: 1.5rem;
    }

    .about-img {
        display: block;
    }

    .about-img img {
        max-height: 300px;
        margin-top: -1rem;
    }

    .about-img-museum {
        max-height: 280px;
        margin-bottom: 3rem;
    }




    .body-title {
        font-weight: 600;
        font-size: medium;
    }
 
    .visiting-professor,
    .Night-in-museum,
    .energetica-exhibition {
        display: flex;
        flex-direction: column; 
    }
    
    .special-events h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .events-copy {
        margin-bottom: -2rem;
    }
    
    .event-img img {
        max-width: 100%; 
        height: auto; 
        margin-bottom: 2rem;
    }

    .last-section {
        display: flex;
        flex-direction: column;
    }

    .last-section p {
        font-size: 16px;
    }

    .hours {
        margin-right: 0;
        margin-bottom: -0.5rem;
    }


    footer {
        margin-top: 10rem;
    }

    .logo-footer {
        max-width: 100px;
    }

    footer nav ul {
        font-size: 0.8rem;
    }

    .copyright {
        font-size: 0.8rem;
    }

    




}


@media screen and (max-width: 530px) {


    .banner {
        min-height: 200px;
    }

    .banner h1 {
        font-size: 30px;
        margin-top: 6rem;
    }

    .banner h4 {
        font-size: 15px;
    }

    .why-visit h1,
    .about-us h1 {
        font-size: 20px;
    }

    .why-visit-content,
    .about-content {
        text-align: left;
    }


    .overlay-club {
        background-color: rgba(0, 0, 0, 0.6);
    }


    .young-stars-club {
        background-position: right ;
        height: 400px;
    }

    .young-stars-club h1,
    .special-holiday-clubs h1 {
        font-size: 26px;
        margin-top: -6rem;
        text-align: center;
    }

    .young-stars-club h1 {
        margin-top: -4rem;
    }

    .young-stars-club p,
    .special-holiday-clubs p {
        font-size: 15px;
    }


    .special-holiday-clubs {
        height: 400px;
    }

    .special-events .body-title {
        text-align: center;
    }

    .events-copy {
        text-align: left;
    }

    .special-events h1 {
        margin-bottom: -3rem;
    }

    .location {
        text-align: center;
    }

    .join {
        max-width: 12.5rem;
        margin: auto;
    }




}




